{% include 'ota_app/base.html' %}
{% block content %}
    <h2> hotel: {{ hotel.name }} </h2>
    <div>
        your recent reservations:
        <ul>
        {% for reservation in reservations %}
            <li>{{ reservation.rateplan.name }} | {{ reservation.guest.first_name }} {{ reservation.guest.last_name }} |
                arr: {{ reservation.arrival|date:"D d M" }} | {{ reservation.price }}</li>
        {% endfor %}
        </ul>
    <hr>
    </div>
    <div>
        Average rate:
        {{ total_average|floatformat:"2" }}
    </div>
    <div>
    <h>My rooms:</h>
        <ul>
        {% for room in hotel.hotel_rooms.all %}
            <li> <a href="{% url 'details-room' hotel.id room.id %}">{{  room.name }}</a></li>
                <ul>
            {% for rateplan in room.room_rateplans.all %}
                <li>{{ rateplan.name }} - <a href="{% url 'update_rateplan' rateplan.id%}">edit</a> -
                    <a href="{% url 'create_price' hotel.id%}">prices</a></li>

            {% endfor %}
            <li> <a href="{% url 'create_rateplan' hotel.id room.id%}">add</a> </li>
            </ul>
        {% endfor %}
        <li><a href="{% url 'create_room' hotel.id %}">add new room</a></li>
        </ul>
    </div>
{% endblock %}

