{% extends 'ota_app/base.html' %}
{% block title %}{{ hotel.name }} - Dashboard{% endblock %}
{% block content %}
<div class="container">
    <div class="col-lg-6-offset-3 col-md-8-offset-2 col-sm-12 ">
        <h2>{{ hotel.name }} </h2>
        <a href="{% url 'update_hotel' hotel.id %}" class="btn btn-dark">edit hotel details</a>
        <a href="{% url 'create_price' hotel.id%}" class="btn btn-warning">edit prices</a>
        <hr>
        <div>
            <h4>Recent reservations at {{ hotel.name }}:</h4>
            <ul>
            {% for reservation in page_obj %}
            {# Each "contact" is a Contact model object. #}
            <li>{{ reservation.room.name }} | {{ reservation.guest.first_name }} {{ reservation.guest.last_name }} |
            arr: {{ reservation.arrival|date:"D d M" }} | {{ reservation.price }} |
                {{ reservation.get_status_display }} | <a href="{% url 'reservation_details_hotel' reservation.id %}">view</a>
                <br></li>
            {% endfor %}
            </ul>
            <div class="pagination">
                <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
                </span>
            </div>
            <hr>
        </div>
        <div>
            <h4>Recent reviews:</h4>
            {% for review in reviews %}
                <p>{{ review.title }} | {{ review.guest.first_name }}
                    {{ review.guest.last_name }} | {{ review.created|date:"D d M" }}
                | <a href="{% url 'review_details' review.id %}">view</a></p>
            {% endfor %}
        </div>
        <hr>
        <div>
            Average rate in next 30 days: {{ total_average.price_1__avg|floatformat:"2" }} PLN
        </div>
        <hr>
        <h4>My rooms:</h4>
        <div class="col-8">

            <ul>
            {% for room in hotel.hotel_rooms.all %}
                <div class="img-thumbnail m-2">
                    <div class="row">
                        <div class="col-3">
                            <img src="http://placehold.jp/24/adb5bd/ffc107/400x300.png"
                                                 class="img-fluid float-end" alt="">
                        </div>
                        <div class="col-6">
                            <h5>{{ room.name }}</h5>
                                <ul>
                            {% for rateplan in room.room_rateplans.all %}
                                <li>{{ rateplan.name }} - <a href="{% url 'update_rateplan' rateplan.id%}">edit</a>
                            {% endfor %}
                            <li> <a href="{% url 'create_rateplan' hotel.id room.id%}">+ add rateplan</a> </li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <p><a href="{% url 'details-room' hotel.id room.id %}" class="btn-sm btn-dark">edit room</a></p>
                            <p><a href="{% url 'delete_room' room.id %}" class="btn-sm btn-danger">delete room</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <li><a href="{% url 'create_room' hotel.id %}">+ add new room</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

