{% extends 'ota_app/base.html' %}
{% block title %}{{ hotel.name }}{% endblock %}

{% block content %}
<div class="container">
    {# change dates form: #}
    <div class="row">
        <div class="col-3">
            <div class="">
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="img-thumbnail bg-light">
                <strong>Change dates:</strong><br>
                <input type="date" class="form-control" name="date" placeholder="Date"><br>
                <a href="#" class="btn btn-warning float-end"><strong>Change</strong></a><br><br>
            </div>
        </div>
        <div class="col-lg-7">
            {# breadcrumbs #}
            <div class="row">
                <p><a href="#">{{object.hotel_address_country}}</a> > <a href="#">{{hotel.city}}</a> > <a href="#">{{hotel.name}}</a></p>
            </div>
            {#  hotel header#}
            <div class="">
            {# hotel-header -  try applying class badge bg-dark instead of <kbd>#}
                <h4><span class="h6"><sup><kbd>{{hotel.structure_type}}Hotel</kbd></sup></span> {{hotel.name}} {{hotel.star_rating}}<span class="float-end"><kbd>{{ reviews_avg.score_overall__avg|floatformat:1 }}</kbd><small></small></span></h4>
                {{hotel.street}} Wysoka {{hotel.house_no}}, {{hotel.postcode}}01-234, {{hotel.city}}, {{hotel.country}}Poland<span class="float-end"><sup><small><b>{{ reviews|length }} review</b></small></sup></span>
            </div>
    <!--image gallery-->
    <div class="col-md-12">
        <hr>
        <div class="tiletainer">
            <div class="tile">
                <img src="http://placehold.jp/24/adb5bd/ffc107/400x300.png" width="100%">
            </div>
            <div class="tile">
                <img src="http://placehold.jp/24/adb5bd/ffc107/400x300.png" alt="">
            </div>
            <div class="tile">
                <img src="http://placehold.jp/24/adb5bd/ffc107/400x300.png" alt="">
            </div>
            <div class="tile">
                <img src="http://placehold.jp/24/adb5bd/ffc107/400x300.png" alt="">
            </div>
            <div class="tile">
                <img src="http://placehold.jp/24/adb5bd/ffc107/400x300.png" alt="">
            </div>
            <div class="tile">
                <img src="http://placehold.jp/24/adb5bd/ffc107/400x300.png" alt="">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6">
                <div class="img-thumbnail bg-light">
                    <h5>Most popular amenities:</h5>
                    <ul>
                    {% for facility in hotel.facilities %}
                       <li>{{ facility }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <div class="img-thumbnail bg-light">
                    <h5>Reviews:</h5><!-- display only if more than 5 reviews -->
                    {% for review in reviews|slice:":5" %}
                        <p><kbd>{{ review.score_overall|floatformat:1  }}</kbd> <a href="{% url 'review_details' review.id %}"> {{ review.title }}</a> {{ review.guest }}</p>
                    {% empty %}
                        <p>No reviews yet!</p>
                    {% endfor %}
                    <br>
                </div>
            </div>
        <div>
            <br><p class="text-justify"><strong>{{hotel.summary}}</strong></p>
            <p>{{hotel.description}}</p>
        </div>
        <hr>
        {% if hotel.restaurant_name %} <!-- check if restaurant exists -->
        <div>
            <h5>Restaurant: {{hotel.restaurant_name}}</h5>
            <img src="http://placehold.jp/24/adb5bd/ffc107/400x300.png" class="float-end" width="20%" alt=""><br>
            Kuchnia: {{hotel.restaurant_cuisine}}<br>
            Posiłki: {{hotel.restaurant_meals}}
            <hr>
        </div>
        {% endif %}

    </div>
    <hr>
    <div>
        <h5>Available rooms:</h5>
        {% for room in available_rooms %}
        <div class="img-thumbnail bg-light">

            <img src="http://placehold.jp/24/adb5bd/ffc107/400x300.png"
                                                 class="float-end" width="20%" alt="">
            {{ room }} - from {{room.avg_price|floatformat:"0"}} PLN/ night
            <a href="{% url 'room-reserve' hotel.id room.id %}?city={{ city }}&arrival={{ arrival }}&departure={{ departure }}&guests={{ guests }}" class="btn btn-warning">Room details</a> </div><br>
        {% empty %}
            <p>Sorry, there are no rooms available</p>
        {% endfor %}
        </div>
    </div>
</div>
    </div>
</div>
 {% endblock %}