{% include 'ota_app/base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    <form method = "get">
        city: <input type="text" name="city"><br>
        arrival: <input type="date" name="arrival"><br>
        departure: <input type="date" name="departure"><br>
        number of guests: <input type="number" name="guests"><br>
        <input type="submit" value="search">
    </form>

    <p>search results:</p>
    {% for hotel in hotelsearch %}
        <a href="{% url 'hotel-details' hotel.id %}">{{ hotel.name }}</a>
    {% endfor %}

{% endblock %}