{% extends 'ota_app/base.html' %}
{% block title %}hotel_app|Find your hotel{% endblock %}
{% block content %}
<div class="container">
    <h2 class="text-center">Find your hotel</h2>
    <hr>
    <div class="row">
        <form method = "get">
            city: <input type="text" name="city" required>
            arrival: <input type="date" name="arrival" required>
            departure: <input type="date" name="departure" required>
            guests: <input type="number" name="guests" required>
            <input type="submit" class="btn btn-warning"  value="search">
        </form>
    </div>
    <hr>
    <div class="row">
        {% for hotel in hotelsearch %}
            <div class="col-3 img-thumbnail m-2">
                <img src="http://placehold.jp/24/adb5bd/ffc107/300x200.png" width="100%">
                <h5>{{ hotel.name }}</h5>
                <h6>{{ hotel.city }}</h6>
                <a href="{% url 'hotel-details' hotel.id %}?city={{ city }}&arrival={{ arrival }}&departure={{ departure }}&guests={{ guests }}" class="btn btn-warning float-right">zobacz</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}