{% extends 'ota_app/base.html' %}

{% block content %}
    <div class="container">
        <h2 class="text-center">Update price</h2>
        <hr>
        <div class="col-lg-6-offset-3 col-md-8-offset-2 col-sm-12">
            <form action="" method="post">
                {% csrf_token %}
               <p>rateplan:  <select name="rateplan_id">
                    {% for rateplan in rateplans %}
                        <option value="{{ rateplan.id }}">{{ rateplan.name }} ({{ rateplan.room_id.name }})</option>
                    {% endfor %}
                </select></p>
                <p>from: <input type="date" name="date_start"></p>
                <p>from: <input type="date" name="date_end"></p>
                <p>availability: <input type="number" name="availability"></p>
                <p>price 1:<input type="number" name="price_1"></p>
                <p>price 2:<input type="number" name="price_2"></p>
                <p><input type="submit" class="btn btn-warning" value="Update"></p>
            </form>
        </div>
    </div>
{% endblock %}