{% include 'ota_app/base.html' %}

{% block title %} Profile view {% endblock %}

{% block content %}
    {{ test }}<br>
{{ user }}<br>
    Hotels owned:
    <ul>
    {% for hotel in hotels_owned %}
    <li><a href="{% url 'dashboard' hotel.id %}" >{{ hotel.name}} {{ hotel.id }}</a></li>
    {% endfor %}
    </ul>

    My reservations:
    <ul>
    {% for reservation in reservations %}
        <li>{{ reservation.hotel}} - {{reservation.arrival|date:"D-d-M"}} - {{reservation.departure|date:"D-d-M" }}</li>
    {% endfor %}
    </ul>
{% endblock %}