{% extends 'ota_app/base.html' %}
{% block title %}Edit {{ room.name }}{% endblock %}
{% block content %}
    <div class="container">
<div class="col-lg-6-offset-3 col-md-8-offset-2 col-sm-12 ">
    <h2>Edit {{ room.name }}</h2><a href="{% url 'delete_room' room.id%}" class="btn btn-danger">delete this room</a>
    <hr>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-warning" value="Save">
    </form>

        </div>
    </div>
{% endblock %}